<div class="custom-box botones-box">
    <h2 class="botones-titulo">Dale clic a alguno 7u7</h2>

    <div class="botones-grupo">
        <button class="btn-original" (click)="cambiarFondo('original')">Botón original</button>
        <button class="btn-verde" (click)="cambiarFondo('verde')">Botón Verde</button>
        <button class="btn-morado" (click)="cambiarFondo('morado')">Botón Morado</button>
        <button class="btn-naranja" (click)="cambiarFondo('naranja')">Botón Naranja</button>
    </div>
</div>