<div class="login-container">
    <h2>Iniciar sesión</h2>

    <form (ngSubmit)="login()" #form="ngForm" novalidate>
        <!-- Usuario -->
        <div class="form-group">
            <input type="text" name="usuario" [(ngModel)]="usuario" required #usuarioRef="ngModel" placeholder="Usuario"
                [class.invalid]="usuarioRef.invalid && usuarioRef.touched" />
            <div *ngIf="usuarioRef.invalid && usuarioRef.touched" class="error">
                El usuario es obligatorio.
            </div>
        </div>

        <!-- Contraseña -->
        <div class="form-group">
            <input type="password" name="password" [(ngModel)]="password" required #passwordRef="ngModel"
                placeholder="Contraseña" [class.invalid]="passwordRef.invalid && passwordRef.touched" />
            <div *ngIf="passwordRef.invalid && passwordRef.touched" class="error">
                La contraseña es obligatoria.
            </div>
        </div>

        <button type="submit" [disabled]="form.invalid">Entrar</button>
    </form>

    <p *ngIf="error" class="error">{{ error }}</p>

    <p class="register-link">
        ¿No tienes cuenta?
    <button type="button" class="register-btn" (click)="router.navigate(['/register'])">
        Regístrate aquí
    </button>
    </p>
</div>